<div class="wrapper row0">
    <section id="ctdetails" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="nospace clear">
            <li class="one_quarter first">
                <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span>Give us a call: <strong>+237 659106215/696023586</strong></span></div>
            </li>
            <li class="one_quarter no-mobile">
                <div class="block clear "><a href="#"><i class="fas fa-envelope"></i></a> <span>Send us a mail: <strong>contact@miss-shine.site</strong></span></div>
            </li>
            <li class="one_quarter no-mobile">
                <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span>Mon. - Sat.: <strong>08.00am - 18.00pm</strong></span></div>
            </li>
            <li class="one_quarter"><a class="btn btn-primary" href="#"><strong>Faire un don</strong></a></li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<div class="header_style">
<div class="wrapper row1">
    <header id="header" class="hoc clear ">
        <div id="logo" class="fl_left">
            <!-- ################################################################################################ -->
            <h1> <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('front/images/logo.png') }}" alt=""></a></h1>
            <!-- ################################################################################################ -->
        </div>
        <nav id="mainav" class="fl_right">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li class="active"><a href="{{ path('home') }}">Home</a></li>
                <li><a href="#">Inscription</a></li>
                <li><a href="#">Critéres</a></li>
                <li><a href="#">Candidats</a></li>
                <li><a href="#">Boutique</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </header>
</div>
</div>