<div class="btn-group btn-group-sm"><a id="editBtn" class="btn btn-success" type="button"  href="{{ path('vote_show', {'id': value}) }}">
        <i class="nc-icon nc-ruler-pencil"></i></a>
    <button id="deleteBtn" class="btn btn-danger btn-flat delete" name="deleteBtn" type="button" onclick='getItem_id({{ value }})'>
        <i class="nc-icon nc-simple-remove"></i></button></div>