{% extends 'baseback.html.twig' %}

{% block title %}Votes{% endblock %}

{% block body %}
    <div class="content">
        <div class="card card-stats">
            <div class="card-body ">
                <div id="votes">{{ 'loading'|trans({}, 'messages') }}</div> </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#votes').initDataTables({{ datatable_settings(datatable) }});
        });
    </script>
{% endblock %}
