{% extends 'base.html.twig' %}
{% block title %}
    Miss-shine Failed page
{% endblock %}
{% block body %}
    <div class="wrapper bgded overlay" style="background-image:url({{ asset('images/imagemiss.jpg') }});">
        <div class="page-title text-center wow fadeInRightBig"><h1 class="heading">Failed page</h1></div>
    </div>
<div class="row text-center" style="background-color: #f9f9f9">
    <img style="width: 100px" class="img-center" src="{{ asset('images/error_.png') }}">
</div>
{% endblock %}
