{% extends 'base.html.twig' %}
{% block title %}
    Miss-shine Success page
{% endblock %}
{% block body %}
<div class="wrapper bgded overlay" style="background-image:url({{ asset('images/imagemiss.jpg') }});">
    <div class="page-title text-center wow fadeInRightBig"><h1 class="heading">Succes page</h1></div>
</div>
{% endblock %}
