{% extends 'baseback.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="content">
        <div class="card card-stats">
            <div class="card-header">
                <a class="btn btn-dark" href="{{ path('product_new') }}">Ajouter</a>
            </div>
            <div class="card-body ">
                <div id="products">{{ 'loading'|trans({}, 'messages') }}</div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#products').initDataTables({{ datatable_settings(datatable) }});
        });
    </script>
{% endblock %}