{% extends 'baseback.html.twig' %}

{% block title %}Modifier Candidat{% endblock %}

{% block body %}
<div class="content">
    <div class="card card-stats">
        <div class="card-body ">

    {{ include('candidat/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div></div></div>
{% endblock %}
