{% extends 'baseback.html.twig' %}

{% block title %}Candidates{% endblock %}

{% block body %}
<div class="content">
    <div class="card card-stats">
        <div class="card-header">
            <a class="btn btn-dark pull-right" href="{{ path('candidat_new') }}">Ajouter</a>
        </div>
        <div class="card-body ">
            <div id="candidats">{{ 'loading'|trans({}, 'messages') }}</div>
        </div>
    </div>
</div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('#candidats').initDataTables({{ datatable_settings(datatable) }});
            });
        </script>
    {% endblock %}
