{% extends 'base.html.twig' %}

{% block title %}Boutiques{% endblock %}

{% block body %}
    <div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
        <div class="page-title" > <h1 class="heading">Boutiques</h1></div>
    </div>
{% endblock %}
